/* external fonts surece */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');

/* common styles */
body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
.container-one{
    /* max-width: 1182px; */
    margin: 50px 120px 0;
}
.container-two{
    margin: 100px 165px 0;
}
.poppins-700{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.poppins-600{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
/* menu bar styles */
.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 87px 120px 0 120px;
}
.menu h1{
    margin-top: 0px;
    font-size: 24px;
    color: #3A3A3A;
}
.menu ul{
    margin-top: 8px;
}
.menu li{
    list-style: none;
    display: inline;
    margin-left: 34px;
    font-size: 16px;
}
.menu li a{
    text-decoration: none;
    color: #3A3A3A;
}
/* featured information styles */
.main-introduction{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.featured-intoduction h1{
    font-size: 52px;
    color: #3A3A3A;
    margin: 0 0 16px 0;
}
.featured-intoduction p{
    margin-top: 0;
    font-size: 16px;
    color: #3A3A3A;
}
.featured-intoduction button{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border-radius: 41px;
    border: 1px solid #E02C6D;
    padding: 10px 0 10px 24px;
}
.fa-arrow-right{
    padding: 0 24px 0 8px;
}
.featured-image{
    margin-left: 133px;
    margin-right: 45px;
}
.featured-image img{
    width: 100%;
}
.featured-image:hover{
    transform: scale(1.2);
    transition: transform 1.5s ease-out;
}
/* e commerce sites styles */
.e-commerce-sites{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    padding-left: 50px;
}
/* product cards styles */
.product-cards{
    height: 1740px;
}
.product-cards h1{
    text-align: center;
    font-size: 28px;
    color: #3A3A3A;
    margin: 0 0 30px 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
    justify-items: center;
    padding: 0 35px;
}
.card{
    width: 329px;
    height: 476px;
    padding: 17px 15px 17px 14px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.card img{
    width: 100%;
}
.card h2{
    margin: 16px auto 6px auto;
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    font-family: 'Poppins', sans-serif;
}
.card h3{
    margin: 0;
    font-size: 24px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.ratings{
    display: flex;
    align-items: center;
}
.stars{
   margin: 8px 0;
}
.colored{
   color: #FB8200;;
}
.no-color{
  color: rgb(214, 197, 197);
}
.rating{
    padding: 5px 13px 8px  8px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
}
.card p{
    margin: 3px 0 0 0; 
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #787885;
    font-weight: 700;
}
.right-side-link-button{
    float: right;
    padding-top: 50px;
}
.right-side-link-button a{
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
}
.right-side-link-button a i{
    padding: 0 15px 0 8px;
}
/* more informaton styles */
.shop-detailes{
    display: flex;
}
.detailes{
    margin-left: 96px;
}
.detailes h1{
    font-size: 38px;
    color: #0A0826;
    margin: 23px 0 0 0 ;
}
.detailes p{
    font-size: 16px;
    color: #6C6C6C;
    margin-right: 109px;
}
button {
    padding: 10px 0 10px 24px;
    background: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    border: 1px solid #E02C6D;
}
#last-button{
    padding: 0 24px 0 8px;
}
/* influencer footer styles */
.influencer-footer{
    background-color:  #0A0826;
    height: 239px;
    margin-top: 100px;
}
.footer{
    text-align: center;
    padding: 50px 0 50px 0;
}
.footer h1{
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
}
.footer p{
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    margin: 3px 0;
}
.footer i{
    margin-left: 16px;
    color: #D9DBE1;
    padding-top: 17px;
}